*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    
    
}
body{
    background-color: rgb(173, 192, 209); 
    margin-top: auto;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}  
.explain > h1 , p{
    display: flex;
    justify-content: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.B{
    color: rgb(183, 43, 226);
    background-color: aliceblue;
    margin: 20px;
    padding: 15px;
}
.container {
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
    /* border: 1px solid black; */
    padding: 12px;
    margin: 10px;
    width: 900px;
    height: 200px;
    }
    
.cont1{
    display: flex;
    flex-direction: row;
}
.cont2{
    display: flex;
    flex-direction: row;
    align-content: center; 
    }
.pdice{
    display: flex;
    flex-direction: column;
   
    width: auto;
    height: auto;
    }
.pdice button{
    border: 0px;
    border-radius: 5%;
    margin: 5px;
    display: flex;
    width: 100px;
    height: 40px;
    background-color: #0c0c0c;    
    padding: 5px;
    color: white;
    }
.pdice1{
    display: flex;
    width: auto;
    height: auto;
    flex-direction: column;   
    }
.pdice1 button{
    display: flex;
    flex-direction: row;
    width: 100px;
    height: 40px; 
    margin: 5px;
    background-color: #0c0c0c;    
    padding: 5px;
    color: white;
    border: 0px;
    border-radius: 5%;
    
    }
.textWinner{
    display: flex; 
    justify-content: center;  
    font-size:44px;
    color: red; 
    margin-bottom: 20px;
    }

 #gameOver{
    color: rgb(17, 122, 17);
    font-size: 55px;
 }   

.counter{
    border: 1px solid black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    /* background-color: #122bbe; */
    width: 600px;
    height: 400px;
}
.counter button{
    width: 100px;
    height: 50px;
    font-size: 30px;
    background-color: rgba(255, 235, 205, 0.356);
    border: 0px;
    border-radius: 12%;
    box-shadow: 4px 3px 10px black ;
}
.footer {
    display: flex;
    justify-content: space-between;
    width: 550px;
    /* border: 2px solid; */
}
#zero {
    font-size: 200px;
}